<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zongbutech.lxleanlingdongdemo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />

    <!-- 声明App的相关权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络访问 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- SD卡写 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- SD卡读 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- 加载文件系统的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 修改网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 修改wifi状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> <!-- 杀死其他进程的权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- 修改系统设置  6.0 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 允许程序发现和配对蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 允许程序连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- service中显示悬浮在桌面的窗口权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <!-- 获取手机信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Anim.MainActivity" />
        <activity android:name=".Anim.Main2Activity" />
        <activity android:name=".SDManager.PackageUtilsActivity" />
        <activity android:name=".SDManager.SDManagerActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity android:name=".Test.TestCopyActivity" />
        <activity android:name=".Test.TestPermissionActivity" />
        <activity android:name=".Test.TestPermissionActivity2" />

        <activity android:name=".PhoneManager.PhoneManagerActivity" />

        <activity
            android:name=".InPutInfoAndOutofInfo.TestInputInfo"
            android:exported="true">

        </activity>
        <activity android:name=".InPutInfoAndOutofInfo.TestOutPutInfo" />


        <receiver android:name=".PhoneManager.PowerConnectionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity android:name=".BroadcastReceiverDemo.BroadActivityDemo" />

        <receiver android:name=".BroadcastReceiverDemo.GostBroadcast">
            <intent-filter>
                <action android:name="com.dsw.send" />
            </intent-filter>
        </receiver>

        <activity android:name=".MP3Demo.MP4PlayActivity" />
        <activity android:name=".Apkextractor.APKMainActivity" />
        <activity android:name=".LxAppExtractor.LxExtractorActivity" />
        <activity android:name=".LxAppExtractor.LxDeleteActivity" />
        <activity android:name=".LeanQRCode.QRCodeActivity1" />
        <activity android:name=".FingerDemo.FingerActivityDemo" />
        <activity android:name=".ZXingDemo.ZXingDemo.ZXingDemo">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ZXingDemo.CameraDemo.LxSurActivity" />
        <activity android:name=".LxCameraDemo.CameraActivity" />
        <activity android:name=".ZXingDemo.CustomView.SacnActivity" />
        <activity android:name=".Base.AllActivity" />
        <activity android:name=".ZXingDemo.LxZxingDemo.LxZXingDemo" />
        <activity android:name=".ZXingDemo.LxZxingDemo.LxZXingDemo2">


        </activity>
        <activity android:name=".ZXingDemo.ImageChange.ImageChangeAcitivyt" />
        <activity android:name=".GsonDemo.GsonActivity" />
        <activity android:name=".PhoneScreen.ScreenTestActivity" />
        <activity android:name=".PhoneScreen.ReplaceActivity" />
        <activity android:name=".PhoneScreen.SreemTouchActivity" />
        <activity android:name=".TestFont.TextViewFontActivity" />
        <activity android:name=".InternatDemo.InternatActivity" />
        <activity android:name=".LxImageView.LxImageActivity" />
        <activity android:name=".TextViewShow.TextViewShowActivity" />
        <activity android:name=".MP4SRTDemo.MP4SRTDemoActivity" />
        <activity android:name=".GPSChangeDemo.GPSChangeAcitivity" />
        <activity android:name=".RecycleDemo.LxRecycleActivity" />
        <activity android:name=".PorterBuffDemo.PorterActivity" />
        <activity android:name=".PorterBuffDemo.AllPorterActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".PorterBuffDemo.StartActivity" />
        <activity android:name=".PorterBuffDemo.LxStartActivity" />
        <activity android:name=".PorterBuffDemo.LxStartAndMoveViewActivty" />
        <activity android:name=".PorterBuffDemo.PointStartActivity" />
        <activity android:name=".ConnectPhone.ConnectAcitivity" />


        <activity android:name=".AllAcitivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConnectPhone.GotoShowActivity"
            android:label="@string/title_activity_goto_show"
            android:theme="@style/AppTheme"></activity>
        <activity android:name="com.zongbutech.lxleanlingdongdemo.Test.TestRunnableActivity">

        </activity>


    </application>

</manifest>